@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui" {
themes: light --default;
}
html {
    color:black;
    scroll-behavior: smooth;
}

.dark {
    color: whitesmoke;
}